body {
    display: flex;
    justify-content: center; 
    align-items: center;   
    min-height: 100vh;    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#bdf9fd,#56d0f560);   
    gap: 30px;   
}
.container {
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
    width: 720px;
    height: 720px;
    background-color: white;
    margin: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.stat
{
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: left;
    gap: 0px;
}
.stat p
{
    font-size: 22px;
    line-height: 5px;
    color: gray;
    font-weight: bold;
}
h2
{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
h1
{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.dice img
{
    width: 400px;
}
 .btn
        {
            border: 3px solid lightgreen;
            border-radius: 10px;
            background: transparent;
            color: lightgreen;
            font-weight: bold;
            display: block;
            width: 200px;
            height: 50px;
            margin: 0 auto;
            transition: 0.3s ease;
            font-size: 18px;
        }
.btn:hover
        {
            background-color: lightgreen;
            border: 3px solid rgb(147, 224, 147);
            color:white;
            transform: translateY(-5px);
            transition: 0.3s ease;
        }
.btn:active
{
    transform: translateY(10px);
}
.label
{
    color: gray;
    font-size: 22px;
    font-weight: bold;
}
.value
{
    color:red;
}
.rate
{
    color:red;
    font-style: italic;
    font-size: 20px;
}
@keyframes laclac
{
    0%
    {
        transform: translateY(0);
    }
    25%
    {
        transform: translateY(-20px) rotate(10deg);
    }
    50%
    {
        transform: translateY(0);
    }
    75%
    {
        transform: translateY(-10px) rotate(-10deg);
    }
    100%
    {
        transform: translateY(0);
    }
}
.dice img.rolling
{
    animation: laclac 0.5s ease-in-out;
}